<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head',{title}); %>
  </head>
  <body>
    <%- include('../partials/nav'); %>
    <main>
      <header>Your Cards</header>
      <section class="result">
        <ol>
          <% cards.deck.forEach((card)=>{ %>
          <li>
            <% if(card.suit){ %> <%= card.pip %> of <%= card.suit %> <% } else {
            %> <%= card.pip %> <% } %> <% if(card.reversed) { %> (rev) <% } %>
          </li>
          <%})%>
        </ol>
      </section>
    </main>
  </body>
</html>
